table.kaa.synopsis {
    border-top: 1px solid #c69f71;
    border-bottom: 1px solid #c69f71;
    width: 95%;
    margin: 0 auto;
    background-color: #efdfcb;
    padding: 5px;
    margin-bottom: 1em;
}

table.kaa.synopsis th{

    white-space: nowrap;
    border-bottom: 1px solid #e7d0b5;
}

table.kaa.synopsis td {
    width: 100%;
    border-bottom: 1px solid #e7d0b5;
}

p.hierarchy {
        padding-left: 1em;
}

p.hierarchy .current {
    background-color: #cfe3ff;
    padding: 2px;
    font-weight: normal;
}

p.hierarchy tt {
    font-weight: normal;
}
